#System Files
.DS_Store

#python files
hackershack_website/__pycache__
hackershack_website/apps/__pycache__
hackershack_website/apps/accounts/__pycache__
hackershack_website/apps/public/__pycache__


#database files
hackershack_website/db.sqlite3

#ignore folder
ignore/